@font-face {
    font-family: 'icomoon';
    src:    url('font/icomoon.eot?hyasps');
    src:    url('font/icomoon.eot?hyasps#iefix') format('embedded-opentype'),
        url('font/icomoon.ttf?hyasps') format('truetype'),
        url('font/icomoon.woff?hyasps') format('woff'),
        url('font/icomoon.svg?hyasps#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
    content: "\e900";
}
.icon-folder:before {
    content: "\e901";
}
.icon-arrow-right:before {
    content: "\e902";
}
.icon-facebook:before {
    content: "\e903";
}
.icon-google:before {
    content: "\e904";
}
.icon-menu:before {
    content: "\e905";
}
.icon-printer:before {
    content: "\e906";
}
.icon-search:before {
    content: "\e907";
}
.icon-speech-bubble-single:before {
    content: "\e908";
}
.icon-tag:before {
    content: "\e909";
}
.icon-twitter:before {
    content: "\e90a";
}



b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}


blockquote {
    font-size: 1.3rem;
}

blockquote cite,
blockquote small {
	font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
	line-height: 1.6;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

address {
	font-style: italic;
	margin: 0 0 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.01);
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	line-height: 1.2;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 0.8em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

abbr[title] {
	border-bottom: 1px dotted #eaeaea;
	border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
	cursor: help;
}

mark,
ins {
	background-color: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

